body {
  background-color: #a5d5d9;
  background-image: url("images/van_gogh.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 400px;
}

@media screen and (max-width: 650px) {
  body {
    background-size: 200px;
  }
}
