{% extends "bootstrap/base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block title %}
Tarun | CycleGAN App
{%endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{url_for('.static', filename='script.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-centered">
      <h1 class="display-1 title">Van Gogh<span class="italic">ize</span></h1>
      <p class="lead">Convert your images to Van Gogh style paintings using <span class="highlight">Artificial Intelligence!</span></p>
      <blockquote class="blockquote">
        <p class="mb-0">I dream of painting and then I paint my dream.</p>
        <footer class="blockquote-footer">Vincent Van Gogh</footer>
      </blockquote>
    </div>
  <div>
  <div class="row">
    <div class="col-lg-8 col-xs-12 col-centered">
      <div class="photo_holder">
          <form>
            <div class="form-group">
              <img id="uploadedImage" src="{{url_for('.static', filename='images/placeholder.png')}}" class="img-responsive" alt="Cinque Terre">
              <label class="btn btn-default uploadBtn">
                Upload a photo <input id="fileInput" type="file" hidden>
              </label>
            </div>
            <button id="convertBtn" type="button" class="btn btn-lg disabled">Convert!</button>
          </form>
      </div>
  </div>
  </div>
</div>
{% endblock %}
